<!DOCTYPE html>
<html>
    <head lang="ch-Hans">
        <meta charset="UTF-8">
        <title>投票主页</title>
    </head>
    <body>
        这里是polls index
        {% if questions_list %}
           <ul>
                {% for question in questions_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a><br>
                        发布时间: {{question.pub_date|date:"Y-m-d H:i:s"}}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>没有投票。</p>
        {% endif %}
    </body>
</html>